.card{
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 15px;
    border: 3px solid #221111;
    padding: 15px;
    text-align: left;
}
.sec{
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
}
.card-container{
    
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.card h2{
    font-size: 24px;
    margin: 10px 0;
    font-weight: 900;
}
.card button{
    background-color: #221111;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.card button:hover{
    background-color: rgb(48, 125, 124);
}